.logo {
	font-size: medium;
	margin-top: 1em;
}

.site-layout-sub-header-background {
	background: #fff;
}

.site-layout-background {
	background: #fff;
}
[data-theme='white'] .site-layout-sub-header-background {
	background: #e7e3e3;
}

.App {
	text-align: center;
	display: flex;
}
