doctype html

link(rel="stylesheet", href="/css/style.css")
form(action="/user/login" method="POST")
    .form
        if error
            p.err-msg Username or password is incorrect

        h1 Login
        
        .form-group
            label Username:
            input(
                type = "text",
                name = "username",
                id = "username",
                placeholder = "Enter your username",
                required
            )
        .form-group
            label Password:
            input(
                type = "password",
                name = "password",
                id = "password",
                placeholder = "Enter your password",
                required
            )
    
        input(type="submit", value="Login")